<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= site.title %></title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">

    <script>
       //"Global" variables
       var widthDivider = 1.0;
       var heightDivider = 1.0;
    </script>

  </head>
  <body state="word">
    
    <%- include('partials/words') %>
    <%- include('partials/shape') %>
    <%- include('partials/stateInfo') %> 
    <%- include('partials/drawer') %>    
    <%- include('partials/navicon') %>    

    <div id="sketch"></div>

    <script src="/js/three.js"></script>
    <script src="/js/STLExporter.js"></script>
    <script src="/js/STLLoader.js"></script>
    <script src="/js/stats.min.js"></script>
    <script src="/js/OrbitControls.js"></script>
    <script src="/js/WebGL.js"></script>

    <script src="/js/GPUComputationRenderer.js"></script>


    <script src="/js/shaderBasicPoints.js"></script>
     <script src="/js/shaderComputePoints.js"></script>
    <script src="/js/shaderTranslucentShader.js"></script>
    <script src="/js/shaderCustomPhysical.js"></script>
    <script src="/js/shaderComputeShaders.js"></script>
    
    <script src="/js/scanDistort.js"></script>

    <script src="/js/sketch.js"></script>



    <style>@font-face{font-family:'SinkSans',Helvetica,Arial,sans-serif;src:url(https://sink.sexy/wp-content/themes/sink/css/fonts/sinksans.woff) format('woff')}#sv2b:hover div{transform:translate(0,0)!important</style>
<a id="sv2b" href="https://sink.sexy/residencies/november-2018" style="position:fixed!important;top:0!important;left:0!important;margin:0!important;display:block!important;z-index:99999999!important;width:100vw!important;height:51px!important;overflow:hidden!important;cursor:pointer!important;padding:0!important"><div style="position:fixed!important;top:0!important;left:0!important;margin:0!important;width:100vw!important;height:51px!important;background:#fff!important;transform:translate(0,-100%);transition:transform .2s ease-out!important"><span style="position:absolute!important;font-family:'SinkSans',Helvetica Neue,Helvetica,sans-serif!important;font-size:22px!important;line-height:27px!important;font-weight:400!important;font-style:normal!important;text-decoration:none!important;letter-spacing:.013em!important;color:#000!important;-webkit-font-smoothing:antialiased!important;-webkit-tap-highlight-color:transparent!important;text-transform:uppercase!important;margin:13px 0 0 19px!important">← SINK.SEXY</span></div></a>
  </body>
</html>